@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* Fuentes tipográficas */
.barlow {
    font-family: 'Barlow', sans-serif;
}

.fraunces {
    font-family: 'Fraunces', serif;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr 3fr 0.1fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #d9d9d9;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #008D7E;
    border-radius: 20px;
  }
  
  .menu ul {
      display: flex;
      align-items: baseline;
  }
  
  .menu ul li {
      margin-left: 36px;
  }
  
  .menu #btn-menu {
    display: none;
  }

ul {
    list-style-type: none;
}

#nav-menu > ul > li > .link {
    color: #fff;
}

#selected {
    background-color: #ffffff;
    padding: 5px 30px;
}

#selected > a {
    color: #000 !important;
}

#selected:hover, #selected:hover > a {
    background-color: #6FCFFF !important;
    color: #fff !important;
}

.bg-header {
    background-image: url("../assets/img/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
}

.image-transform {
    background-image: url("../assets/img/desktop/image-transform.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
}

.navbar-collapse {
    flex-grow: 0;
}

.titulo {
    position: absolute;
    top: 170px;
}

/* Títulos */

h1 {
    letter-spacing: 5px;
    font-size: 3rem;
}

.client-testimonials {
    letter-spacing: 5px;
    font-size: 2rem;
}

h3, h4, h5 {
    font-weight: 900 !important;
    font-size: 2rem;
} 

h5 {
    font-weight: 900 !important;
    font-size: 1.5rem;
}

p {
    font-size: 1.3rem;
}

.titulo-footer {
    letter-spacing: -1px;
}

/* Colores */
.dark-cyan {
    color: #25564b;
}

.dark-moderate-cyan {
    color: #458c7e;
}

.dark-blue {
    color: #19536b;
}

.dark-grayish {
    color: #818498;
}

.grayish-blue {
    color: #a7abae;
}

.dark-grayish-blue {
    color: #5a636c;
}

.very-dark-grayish {
    color: #23303e;
}

/* borders */
.border-yellow {
    border-bottom: 5px #FFF2BB solid;
}
.border-salmon {
    border-bottom: 5px #FFDBD2 solid;
}

.border-dark-yellow {
    border-bottom: 5px #F8D20F solid;
}

.border-dark-salmon {
    border-bottom: 5px #FE7563 solid;
}

.img-cliente {
    width: 80px;
}

.flecha {
    width: 30px;
}

.padding-right-left {
    padding: 0 8rem !important;
}

.margin-right-left {
    margin: 0 8rem !important;
}

header {
    grid-area: header;
}

.copyright {
    font-size: 16px;
}

/* MAIN */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas:
        "seccion1 seccion1 seccion1 seccion1"
        "seccion2 seccion2 seccion2 seccion2"
        "seccion3 seccion3 seccion3 seccion3"
        "seccion4 seccion4 seccion4 seccion4"
        "seccion5 seccion5 seccion5 seccion5";
}

.seccion1 {
    grid-area: seccion1;
}

.seccion2 {
    grid-area: seccion2;
}

.seccion3 {
    grid-area: seccion3;
}

.seccion4 {
    grid-area: seccion4;
}

.seccion5 {
    grid-area: seccion5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.graphic-design {
    background-image: url("../assets/img/desktop/image-graphic-design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
}

.photography {
    background-image: url("../assets/img/desktop/image-photography.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
}

/* FOOTER */
footer {
    grid-area: footer;
}

.logo-footer {
    width: 200px;
}

.bg-footer {
    background-color: #90D4C5;
}



/* MEDIA QUERIES */

@media (max-width: 1336px) {

    .client-testimonials {
        letter-spacing: 5px;
        font-size: 2rem;
    }
    
h3, h4, h5 {
    font-weight: 900 !important;
    font-size: 2.1rem;
}

    p {
        font-size: 1rem;
    }

    .cliente > p {
        font-size: 1rem;
    }

    .cliente > h5 {
        font-size: 1.5rem;
    }

}

@media (max-width: 992px) {

    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 3.5fr 0.1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }


    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 0.5fr);
        grid-template-areas:
            "seccion1 seccion1"
            "seccion2 seccion2"
            "seccion3 seccion3"
            "seccion4 seccion4"
            "seccion5 seccion5";
    }

    .logo-footer {
        width: 130px;
    }

}

@media (max-width: 768px) {

    .titulo {
        top: 200px;
    }

    h1 {
        font-size: 2rem;
    }

    #nav-menu > ul > li > .link {
        color: #818498;
    }

    .margin-right-left {
        margin: 0;
    }

    .client-testimonials {
        letter-spacing: 5px;
        font-size: 1.2rem;
    }

    .cliente > p {
        padding: 2rem 10rem !important;
    }

    .padding-right-left {
        padding: 0 3rem !important;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 0.5fr);
        grid-template-areas:
            "seccion1 seccion1"
            "seccion2 seccion2"
            "seccion3 seccion3"
            "seccion4 seccion4"
            "seccion5 seccion5";
    }

    .seccion5 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 720px) {

    .menu nav {
        position: absolute;
        top: 120px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        background-color: white;
        width: 250px;
        height: 45vh;
        padding: 40px;
        z-index: 1;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        flex-direction: column;
        margin-bottom: 30px;
        margin-left: 0;
    }

    .menu #btn-menu {
        display: block;
      }

      #nav-menu {
        display: none;
      }

      .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
        font-size: 2rem;
    }

    #selected {
        background-color: #FBD601;
    }
}


@media (max-width: 576px) {
     .cliente > p {
        padding: 2rem 3rem !important;
    }
}
